127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.33.11   master-1.openshift.vbox master-1
192.168.33.21   infra-1.openshift.vbox infra-1
192.168.33.31   app-1.openshift.vbox app-1
